:root {
    --primary-color: #0f0f0f;
    --secondary-text-color: #aaa;
    --primary-text-color: #3f3f3f;
    --border-color: #3f3f3f;
    --button-color:  #606060;
    --button-active-color: #3ea6ff;
}
