* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    height: 100%;
    font-family: 'Roboto';
}

body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Begin header */

#top {
    height: 56px;
    background-color: #0f0f0f;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.top-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 97px;
    line-height: 56px;
    margin-left: 71px;
    cursor: pointer;
}

.item {
    /* margin-left: 400px; */
}

.search-container {
    /* display: inline-flex; */
    /* margin-left: 200px; */
}

.search-container button {
    height: 38px;
    width: 60px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #222222;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    z-index: 1;
}

.add-btn {
    width: 100px;
    display: flex;
    position: relative;
    right: -200px;
    cursor: pointer;
    height: 38px;
    border: 1px #333 solid;
    margin-left: 0;
    margin-right: 0;
    align-items: center; 
    justify-content: center; 
}

.add-btn svg{
    fill: red;
    width: 30px !important;
    height: 30px !important;
    margin-right: 6px;
}

.add-btn p{
    color: #fff;
}

input.search-bar {
    background-color: transparent;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 38px;
    width: 500px;
    color: #fff;
    padding: 10px;
    z-index: 2;
}

.acc-box {
    background-color: #fff;
    border-radius: 34px;
    display: flex;
}

/* End header */

/* Start navigator */

#left {
    width: 240px;
    height: 100%;
    background-color: #0f0f0f;
    position: fixed;
    overflow-y: auto;
}


.list-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.list-container::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
}

.list-item {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 85%;
}

.list-container:first-child {
    margin-top: 56px;
}

.list-item:hover {
    background-color: #444444;
    border-radius: 10px;
    transition: .2s;
}

.list-item a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.list-item>span {
    margin-right: 3px;
}

.list-title {
    color: #fff;
    font-size: 18px;
}

.list-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}

svg {
    fill: #fff;
}

.account-box {
    margin-top: 56px;
    /* height: 210px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20% 10% 10% 10%;
}

.account-box-avatar{
    flex: 1;
    width: 112px;
    height: 112px;
}

.account-box-avatar img {
    border-radius: 50%;
    width: 132px;
    height: 132px;
}

.account-box-name{
    color: #fff;
}

.account-box-avatar, .account-box-name {
    width: 100%;
    text-align: center;
    height: 100%;
    margin: 10px 0;
}

/* Thanh cuộn trên Chrome, Safari và Opera */
#left::-webkit-scrollbar {
    width: 10px;
    /* Độ rộng của thanh cuộn */
}

/* Track (phần nền của thanh cuộn) */
#left::-webkit-scrollbar-track {
    background: #0f0f0f;
    /* Màu nền của thanh cuộn */
}

/* Handle (thanh di chuyển) */
#left::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    /* Màu của thanh di chuyển */
}

/* Thay đổi màu của thanh di chuyển khi hover */
#left::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
    /* Màu của thanh di chuyển khi hover */
}

.collapse-item {
    list-style-type: none;
    /* Ẩn dấu đầu dòng */
    padding-left: 10px;
    /* Cung cấp khoảng cách bên trái */
    margin-top: 10px;
    /* Khoảng cách từ trên xuống */
    height: 40px;
    /* Chiều cao của phần tử */
    display: flex;
    /* Hiển thị theo kiểu flexbox */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    width: 85%;
    /* Độ rộng của phần tử */
    background-color: #0f0f0f;
    /* Màu nền */
    border-radius: 10px;
    /* Bo tròn góc */
}

.collapse-item a {
    color: #fff;
    /* Màu chữ */
    text-decoration: none;
    /* Không gạch chân */
    width: 100%;
    /* Độ rộng */
    display: flex;
    /* Hiển thị theo kiểu flexbox */
    align-items: center;
    /* Canh giữa theo chiều dọc */
}

.collapse-item:hover {
    background-color: #444444;
    /* Màu nền khi hover */
    transition: .2s;
    /* Hiệu ứng chuyển động */
}


/* End navigator */
#content {
    height: 92%;
    width: 100%;
    margin: 0px 32px 0px 240px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    color: white;
}
