* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    height: 100%;
    font-family: 'Roboto';
}

body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Begin header */

#top {
    height: 56px;
    background-color: #0f0f0f;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.top-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: 56px;
    margin-left: 62px;
    cursor: pointer;
}


.search-container {
    display: inline-flex;
}

.search-container button {
    height: 38px;
    width: 60px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #222222;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    z-index: 1;
}

input.search-bar {
    background-color: transparent;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 38px;
    width: 500px;
    color: #fff;
    padding: 10px;
    z-index: 2;
}

.not-login{
    border: 1px solid #5089cd;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 5px;
}

.not-login a{
    text-decoration: none;
    color: #5089cd;
}

/* Noti */

div.wrapper-right-icon {
    display: flex;
    align-items: center;
}

.notification {
    margin-right: 25px;
    cursor: pointer;
}

.show{
    display: block !important;
}

.fa-bell {
    font-size: 25px;
    cursor: pointer;
}

/* Lớp giả tạo ra để khi có thông báo mới sẽ hiện */
.new-noti {
    position: relative;
}

.new-noti::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -30px;
    right: -3px;
}

.wrapper-notify-item-list {
    position: absolute;
    width: 450px;
    top: 110%;
    right: 25px;
    border-radius: 8px;
    display: none;
}

.header-notify {
    background-color: #131313;
    height: 40px;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-notify h4 {
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    padding-left: 5px;
    margin-bottom: 0;
}

.header-notify a{
    margin-right: 10px;
}

.wrapper-header-notify-list {
    background-color: #fff;
    height: 500px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: scroll;
}

.header-notify-list {
    margin-top: 10px;
}

.header-notify-item {
    margin-left: 5px;
    margin-top: 10px;
}

.header-notify-item:hover {
    background-color: #eaeaea;

}

.header-notify-item a {
    display: flex;
    text-decoration: none;
    color: #000;
}

.channel-avatar-notify {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-notify-info {
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    margin-left: 10px;
}

.wrapper-header-notify-name {}

.header-notify-name {}

.wrapper-header-notify-description {}

.wrapper-header-notify-description .fa-circle {
    font-size: 5px;
}

.header-notify-description {}

.thumbnail-notify {
    width: 100px;
    height: 75px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}



/* Account */

.acc-box {
    margin-right: 20px;
    background-color: #fff;
    border-radius: 34px;
    display: flex;
    cursor: pointer;
}

.acc-box img {
    border-radius: 30px;
}

#logged-in-feat{
    display: none;
    background-color: #fff;
    height: 100px;
    width: 170px;
    position: absolute;
    margin-left: -145px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 0 5px;
}

.logged-feat{
    margin: 5px 0;
    height: 40px;
    background: #222;
    list-style-type: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    line-height: 40px;
}

.logged-feat a{
    text-decoration: none;
    color: #fff;
}

.logged-feat:hover{
    background-color: #444444;
}

.logged-feat a::after{
    content: "";
    width: 160px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    display: block;
    margin-top: -40px;
}

/* End header */

/* Start navigator */

#left {
    width: 240px;
    height: 100%;
    background-color: #0f0f0f;
    position: fixed;
    overflow-y: auto;
}


.list-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.list-container::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
}

.list-item {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 85%;
}

.list-container:first-child {
    margin-top: 56px;
}

.list-item:hover {
    background-color: #444444;
    border-radius: 10px;
    transition: .2s;
}

.list-item a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.list-item>span {
    margin-right: 3px;
}

.list-title {
    color: #fff;
    font-size: 18px;
}

.list-icon img {
    border-radius: 12px;
}

.list-icon img,
.list-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}

.list-icon svg {
    fill: #fff;
}

/* Thanh cuộn trên Chrome, Safari và Opera */
#left::-webkit-scrollbar {
    width: 10px;
    /* Độ rộng của thanh cuộn */
}

/* Track (phần nền của thanh cuộn) */
#left::-webkit-scrollbar-track {
    background: #0f0f0f;
    /* Màu nền của thanh cuộn */
}

/* Handle (thanh di chuyển) */
#left::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    /* Màu của thanh di chuyển */
}

/* Thay đổi màu của thanh di chuyển khi hover */
#left::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
    /* Màu của thanh di chuyển khi hover */
}

.collapse-item {
    list-style-type: none;
    /* Ẩn dấu đầu dòng */
    padding-left: 10px;
    /* Cung cấp khoảng cách bên trái */
    margin-top: 10px;
    /* Khoảng cách từ trên xuống */
    height: 40px;
    /* Chiều cao của phần tử */
    display: flex;
    /* Hiển thị theo kiểu flexbox */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    width: 85%;
    /* Độ rộng của phần tử */
    background-color: #0f0f0f;
    /* Màu nền */
    border-radius: 10px;
    /* Bo tròn góc */
}

.collapse-item a {
    color: #fff;
    /* Màu chữ */
    text-decoration: none;
    /* Không gạch chân */
    width: 100%;
    /* Độ rộng */
    display: flex;
    /* Hiển thị theo kiểu flexbox */
    align-items: center;
    /* Canh giữa theo chiều dọc */
}

.collapse-item:hover {
    background-color: #444444;
    /* Màu nền khi hover */
    transition: .2s;
    /* Hiệu ứng chuyển động */
}


/* End navigator */
#content {
    background-color: #222;
    height: 92%;
    position: relative;
    top: 56px;
    margin-left: 240px;
    overflow: auto;
}

/* Thông báo */
.notification{

}
.fa-bell{
  font-size: 25px;
  cursor: pointer;
}
.wrapper-notify-item-list{
    position: absolute;
    width: 450px;
    top: 110%;
    right: 300px;
    border-radius: 8px;
}
.header-notify{
 background-color: #131313;
 height: 40px;
 align-items: center;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}
.header-notify h4{
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    flex: 1;
    padding-left: 5px;
}
.wrapper-header-notify-list{
    background-color: #fff;
    height: 500px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: scroll;
}
.header-notify-list{
    margin-top: 10px;
}
.header-notify-item{
    margin-left: 5px;
    margin-top: 10px;
}
.header-notify-item a{
    display: flex;
    text-decoration: none;
    color: #000;
}
.channel-avatar-notify{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-notify-info{
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    margin-left: 10px;
}
.wrapper-header-notify-name{

}
.header-notify-name{

}
.wrapper-header-notify-description{

}
.wrapper-header-notify-description .fa-circle{
    font-size: 5px;
}
.header-notify-description{

}
.thumbnail-notify{
    width: 100px;
    height: 75px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}