.modal__popup {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3;
    width: 100%; /* Full width */
    height: 100%;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 520px;
    border-radius: 4px;
    background-color: #282828;
    overflow-y: hidden;
    padding: 0px 16px;
    color: white;
}

.modla__header {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 28px;
    margin: 12px 0px;
    font-weight: bold;
}

.modal__title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 28px;
    margin: 12px 0px;
    font-weight: bold;
}

.modal__body {
    margin-bottom: 32px;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-group > * {
    width: 100%;
    font-size: 16px;
}

.form-group > input[type="file"] {
    margin-bottom: 8px;
    border: solid 2px #3f3f3f;
    color: white;
    border: none;
    width: 100%;
}

.form-group > label {
    font-size: 16px;
    margin-bottom: 6px;
}

.form-group > textarea {
    border-radius: 4px;
    padding: 4px 0px 4px 8px;
    background-color: var(--primary-color);
    resize: none;
    border: solid 2px #3f3f3f;
    color: white;
}

.form-group > input {
    border-radius: 4px;
    padding: 12px 8px;
    background-color: var(--primary-color);
    border: solid 2px #3f3f3f;
    color: white;
}

.form-group > select {
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 8px;
}

.form-group > select:focus {
    outline: none;
}

.form-group > textarea:focus {
    outline: none;
    color: white
}

option {
    color: black;
}

.option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.option > button {
    padding: 8px 24px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 2px;
}

.close--btn {
    background-color: #ff4e45;
}

.save--btn {
    background-color: #3ea6ff;
}

.modal-pl{
    height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
    display: none;
	z-index: 0;
}

.modal-info-wrapper {
    width: 40%;
    height: 70%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: space-around;
}

.modal-info-content--item{
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7px;
    border-radius: 4px;
}

.modal-info-content--item label{
    font-size: 14px;
}

.modal-info-content--item input{
    border: none;
    padding-left: 2px;
}

#modal-name{
    height: 30px;
}

#modal-description{
    height: 100px;
    resize: none;
    border: none;
}

.modal-info-content--item input:focus,
.modal-info-content--item textarea:focus{
    outline: none;
}

.modal-info-content--item input:focus label{
    color:blue;
}

#modal-info-header{
    padding: 5px 10px;
    border-bottom: 1px solid #000;
}

#modal-info-content {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}

#modal-info-btn {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid;
    padding-top: 1%;
}

.modal-btn{
    margin-right: 20px;
    border: none;
    background-color: #000;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    color: #fff;
}

.modal-btn:hover{
    background-color: #333;
    transition: .2s;
}

/* End modal */