/* Css chung */
.noti-all-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100%;
    padding: 10px;
}

.noti-content{
    display: flex;
    justify-content: space-between;
    color: #000;
    border-bottom: 1px solid #dedede;
    height: 70px;
    align-items: center;
}

.noti-avt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.noti-info{

}

.noti-thumbnail img{
    width: 60px;
    height: 50px;
}

/* Css của noti check & comment */

/* Css của noti premium share */