div#video-main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#box.video-renderer {
    width: 31%;
    margin: 14px;
    display: flex;
    flex-direction: column;
}

#thumb-container.video-renderer {
    width: 400px;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
}

#thumb-image.video-renderer {
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

#thumb-image.video-renderer:hover {
    scale: 1.01;
    cursor: pointer;
}

#text-wrapper.video-renderer {
    width: 100%;
    overflow: hidden;
    /* padding: 5px; */
    border-radius: 8px;
    margin-left: 10px;
    color: #fff;
}

#video-title.video-renderer {
    color: #fff;
    text-decoration: none;
}

.title {
    font-size: 18px;
}

#channel-info.video-renderer {
    display: flex;
    margin-top: 5px;
    padding: 5px;
}

#img.video-renderer {
    width: 24px;
    height: 24px;
    border-radius: 10px;
}

#text-container.video-renderer {
    margin-left: 5px;
}

#channel-name.video-renderer {
    text-decoration: none;
    color: #fff;
}

.fa-solid.fa-circle {
    font-size: 5px;
    padding: 5px;
}